* {
  font-family: 'Montserrat', sans-serif;
}
.flex {
  display: flex;
  justify-content: space-between;
  background : #F9C74F;
}

.icons > .icon {
  list-style: none;
  padding : 2rem 2rem;
  font-size: x-large;
  color: #F9844A;
  transition: 1s;
} 
.icons > .icon:hover {
 color : brown;
 transition : 1s ease-in-out;
 font-size: xx-large;
 transform: translate(0, -5px);
}
.icons {
  display: flex;
  justify-content: space-around ;
}

.tagline {
  margin-top : 40px;
  color: brown;
  font-size: 44rem;
}
#tagline {
  font-size: 1.6rem;
  padding-left: 6rem;
  font-weight: 700;

}
.logo {
  margin-top : -20px;
  margin-left : -35px
}

/* Bootstrap Gallery */

main h1{
  display: flex;
  justify-content: center;
  padding: 1em;
}
.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden; }
.card-product .price-new, .card-product .price {
  margin-right: 5px; }
.card-product .price-old {
  color: #999; }
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  /* height: 220px; */
  text-align: center; }
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; }
    
    .card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px; }
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .title {
  margin-top: 0; }

  .row .btn-primary{

    background-color:#ffc107 ;
    border: #F9C74F;
  }
  

/* footer */
.footer-main-div{
  width: 100%;
  height : auto; 
  margin-top: -10px;
  background : #F9C74F;
  /* background : #F3722C; */
  padding : 20px 0;

}
.footer-social-icons {
  width: 100%;
  height: auto;
  margin : auto;

} 
.footer-social-icons ul{
  
  margin : 0px;
  padding : 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin : 0px 10px;
  border-radius: 100%;
  background: #F3722C;
  
}
.footer-social-icons:hover {
    color: brown;
}
.footer-social-icons ul li a{
  color : #F9C74F;
  font-size: 25px;

}
.footer-social-icons ul li a i{
  line-height: 50px;
}
  .price{
    
    color: #e69b06;
    padding: 5px 0;
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
      top:10px;
  }
   
    .product figure{
      width: 200px;
      height: 300px;
      display: flex;
      flex-direction:column;
      justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    border: 1px dotted rgb(0, 64, 75);
    padding-bottom: 20px;
    color: rgb(226, 236, 226);
    margin: 10px;
    font-weight: 100;
    }
    .product img{ 
      position: relative;
      top: 10%;
      height:70% ;
      width: 70%;}
    #shop{
      display: flex;
      
      justify-content: center;
      color: black;
     
      background-repeat: no-repeat;
      flex-wrap: wrap;
      padding: 0;
      margin: 15%;
      width: fit-content;
    }
  #shop figcaption{
    position: relative;
    top: 8%;
      color: black;
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;
    font-family: monospace; }
    
    #shop p{
    margin:0;
    
    }
    
    /* for increasing and decreasing shopping amount */
    div.buy {
      display: flex;
      justify-content: center;
      margin: 0;
      height: 20px;
      z-index: 1;
      border: none;
      text-align: center;
      border-radius: 0px;
    }
    
    .buy  input{ color: white;
    font-family: fantasy;
    border: none;
  }
  
    .buy button {
      display: flex;
      width: 60px;
      top: 10%;
      text-align: center;
      justify-content: center;
      border: none;
      background-color: zomp;
      font-size: 1em;
      height: 23px;
      padding: 0px;
      border-color: black;
      background-color: rgb(3, 250, 188);
      outline: none;
      position: relative;
      top:15px;
      
    }
    
    .buy button:hover {
      cursor: pointer;
      color: rgb(9, 250, 250);
      background-color: black;
      
    }
    
    #decre {
      margin-right: 0px;
      margin-top: -3%;
      
      border: none;
      
    }
    
    #incre {
      margin-left: 0px;
      margin-top: 10%;
      border: none;
      
    }
    
   
  
  span{
    color: #12122c;
  
    font-size: medium;
    font-family: fantasy;
  }


/* Media Queries */
    @media only screen and (max-width: 768px) {
        .tagline {
            font-size: medium;
        }
        strong {
            font-size : 1.5rem;
        }
        .cart {
            margin-top: -50px;
            height : 10px;
        }
    
      }